node_modules
.env
yarn-error.log

# Typescript
dist

# Hardhat files
cache
artifacts

# Integration tests
wormhole_test_metadata.json

# OpenZeppelin
.openzeppelin/unknown*


# Wormhole integration tests
wormhole_vaas.json
wormhole_test_contract_deployment.json